.page {
	&__priorities {
	}
}
.priorities {
	&__container {
	}

	&__title {
		font-weight: 600;
		font-size: 2rem;
		color: #2b2b2b;
		@media (max-width: $mobile) {
			font-size: toRem(24);
		}
	}

	&__banner {
		// outline: 1px solid red;
		background-color: #2E4EA4;
		margin-block: 2rem;
		position: relative;
		height: 12.125rem;
		border-radius: 1.25rem;
		overflow: hidden;
		@media (max-width: 48rem) {
			margin-block: toRem(16);
		}
		// @media (min-width: 23.4375rem) and (max-width: 48rem) {
		// 	margin-block: 1rem;
		// }
		@media (max-width: toEm(375)) {
			margin-block: toRem(45);
		}
		img {
			position: absolute;
			width: 100%;
		}
	}
	&__down {
		position: absolute;
		inset: 0;
	}
	&__img {
		&._shadow {
			filter: brightness(0.5);
		}
	}
	&__action {
	}
}
.title {
}
.action {
	display: flex;
	align-items: center;
	gap: toRem(8);
	position: relative;
	&__top {
		display: flex;
		align-items: center;
		gap: toRem(8);
		background-color: #fff;
		color: #323232;
		
		&:hover {
			background-color: $secondColor;
			color: #fff;
			& svg path {
				stroke: #fff;
			}
		}
		svg {
			transition: transform 0.3s;
		}
		._active & {
			svg {
				transform: rotateX(180deg);
			}
		}
	}

	&__select {
		// display: none;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: calc(100% + 1rem);
		border-radius: 1rem;
		max-width: 21.25rem;
		padding: 1rem 0.5rem;
		text-align: center;
		box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.1);
		background: #fff;
		transition: opacity 0.5s;
		._active & {
			// display: block;
			opacity: 1;
			visibility: visible;
		}
	}

	&__list {
		line-height: 1.25rem;
		text-align: left;
	}

	&__item {
		position: relative;
		border-radius: 6.25rem;
		padding: 0.5rem 1rem;
		background-color: #eef3f9;
		width: fit-content;
		// width: 270px;
		display: inline-flex;
		cursor: pointer;
		// display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: width 0.3s, background-color 0.3s;
		&:hover{
			color: #fff;
			background-color: $secondColor;
			&::after{
			background-color: $secondColor;
			}
		}
		&::after{
			content:'';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 0 6.25rem 6.25rem 0;
			padding: 0 0.5rem 0rem 0;
			width: 36px;
			right: 0;
			height: 100%;
			// background: #eef3f9 url('@img/x.svg') center no-repeat;
			transition: right 0.3s, background-color 0.3s;
			z-index: 0;
		}
		&._picked {
			background-color: $thirdColor;
			color: #fff;
			&::after{
				background: $thirdColor url('@img/x.svg') center no-repeat;
				right: -10px;
				z-index: 1;
			}
			
		}
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}

	&__text {
		position: relative;
		z-index: 2;
	}

	&__picked {
		display: flex;
		gap: toRem(16);
		align-items: center;
		flex-wrap: wrap;
	}
}

.picked {
	&__item[class] {
		margin-bottom: 0;
	}
}